In [1]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
%matplotlib inline

In [3]:
client_data=pd.read_csv("bank-full.csv")

In [5]:
client_data.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Target
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no

In [6]:
client_data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
Target       object
dtype: object

In [7]:
client_data.shape

(45211, 17)

In [9]:
categories=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
for c in categories:
    print(f"Value counts for category {c}")
    client_data[c].value_counts()

Value counts for category job

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

Value counts for category marital

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

Value counts for category education

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

Value counts for category default

no     44396
yes      815
Name: default, dtype: int64

Value counts for category housing

yes    25130
no     20081
Name: housing, dtype: int64

Value counts for category loan

no     37967
yes     7244
Name: loan, dtype: int64

Value counts for category contact

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

Value counts for category month

may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64

Value counts for category poutcome

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64